<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header.html :: header">
</head>
<body>
<div id="testheader">
    <div th:replace="navbar.html :: navbar"></div>
    <div th:replace="sidebar.html :: sidebar"></div>
    <div class="container">
    <div class="main_contents">
    <div id="sub_content">
        <form action="userRegister" method="post">

            <h2 class="col-md-6 offset-md-2 mb-5 mt-4">User Registration</h2>
            <div class="row mb-4">
                <div class="col-md-2"></div>
                <label  class="col-md-2 col-form-label">Name</label>
                <div class="col-md-4">
                    <input type="text" class="form-control"  name="name" required>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-2"></div>
                <label for="email" class="col-md-2 col-form-label">Email</label>
                <div class="col-md-4">
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-2"></div>
                <label for="password" class="col-md-2 col-form-label">Passowrd</label>
                <div class="col-md-4">
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-2"></div>
                <label for="confirmPassword" class="col-md-2 col-form-label">Confirm Passowrd</label>
                <div class="col-md-4">
                    <input type="password" class="form-control" id="confirmPassword" required>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-2"></div>
                <label for="userRole" class="col-md-2 col-form-label">User Role</label>
                <div class="col-md-4">
                    <select name="role" class="form-select" aria-label="Education" id="userRole">
                        <option selected value="ADMIN">Admin</option>
                        <option value="USER">User</option>
                    </select>
                </div>
            </div>

                    <button type="submit" class="btn btn-secondary col-md-2">Add</button>
        </form>
    </div>
</div>

    </div>
</div>
<script>


</script>
</body>

</html>


