<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="sidenav" th:fragment="sidebar">

    <button class="dropdown-btn" > Class Management <i class="fa fa-caret-down"></i></button>

    <div class="dropdown-container">
        <a href="courseRegister.jsp">Course Registration </a>
        <a href="studentRegister.jsp">Student Registration </a>
        <a href="studentManage.jsp">Student Search </a>
    </div>
    <a href="userManage.jsp">Users Management</a>
</div>
</html>