<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header.html::header">
</head>
<body>
<div id="testheader">
<div th:replace="navbar.html :: navbar"></div>
<div th:replace="sidebar.html :: sidebar"></div>
<div class="main_contents">
    <div id="sub_content">
        <form class="row g-3 mt-3 ms-2"  method="post" name="userSearch" action="userSearch">
            <div class="col-auto">
                <label for="staticEmail2" class="visually-hidden">User Id</label>
                <input type="text" name="id" class="form-control" id="staticEmail2" placeholder="User ID">
            </div>
            <div class="col-auto">
                <label for="inputPassword2" class="visually-hidden">User Name</label>
                <input type="text" name="name" class="form-control" id="inputPassword2" placeholder="User Name">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Search</button>
            </div>
            <div class="col-auto">
                <a th:href="@{userRegister}">
                    <button type="button" class="btn btn-secondary "   >
                        Add
                    </button>
                </a>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-danger mb-3">Reset</button>
            </div>
        </form>

        <table class="table table-striped" id="stduentTable">
            <thead>
            <tr>

                <th scope="col">User ID</th>
                <th scope="col">User Name</th>
                <th scope="col">Details</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${allUser}">


    <td th:text="${user.id}"></td>
    <td th:text="${user.name}"></td>



                <td>
                    <a th:href="@{userUpdate(id=${user.id})}">
                        <button  type="submit" class="btn btn-success ">Update</button>
                    </a>
                </td>
                <td>
                    <a th:href="@{userDelete(id=${user.id})}">
                        <button type="submit" class="btn btn-secondary mb-3">Delete</button>

                    </a>

                </tr>



            </tbody>
        </table>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Student Deletion</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <h5 style="color: rgb(127, 209, 131);">Are you sure want to delete !</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success col-md-2" data-bs-dismiss="modal">Ok</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script>
    /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
      dropdown[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var dropdownContent = this.nextElementSibling;
      if (dropdownContent.style.display === "block") {
      dropdownContent.style.display = "none";
      } else {
      dropdownContent.style.display = "block";
      }
      });
    }
</script>
</body>

</html>







<body>

</body>

